.footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.load-more {
  font-family: "Prompt", sans-serif;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 35px;
  color: #141b25;
  width: 8rem;
  padding: 0.7rem;
  font-size: 12px;
  cursor: pointer;
}

.end-page {
  flex: 1;
  border: none;
  width: 50%;
  height: 2px;
  background: #ccc;
}
